<h1>{{ post.title }}</h1>

<div class="post-info">
    <small>By {{ post.user.first_name }} {{ post.user.last_name }},
        {% if post.is_published %}
        on {{ post.published_at | date('d-m-Y') }}
        {% endif %}
        {% if post.is_published and post.updated_at > post.published_at %}
        <br>Last updated {{ post.updated_at | date('d-m-Y') }}
        {% endif %}

        {### INFO FOR MULTI-PAGE POSTS ###}
        {% if post.getPageCount > 1 %}
        <p>Page {{post.getRequestedPage}} of {{post.getPageCount}}</p>
        {% endif %}
    </small>
    <br>
    <small>Posted in <a href="{{post.primary_category.url}}">{{post.primary_category.name}}</a></small>
    {% if post.tags|length >0 %}
    <br>
    <small>Tagged:
        {% for tag in post.tags %}
        <a href="{{tag.url}}">{{tag.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </small>
    {% endif %}
</div>