{% set paginator = __SELF__.getPaginator %}

{### PAGINATION SUPPORT FOR MULTI-PAGE POSTS ###}
{### This is a very simple framework agnostic paginator. You might want 'paginator.render | raw'  ###}
{% if post.getPageCount > 1 %}
<div class="pagination-wrapper">
    <ul class="links">
        {% if paginator.previousPageUrl %}
        <li class="previous"><a href="{{ paginator.previousPageUrl }}">Prev</a></li>
        {% endif %}
        {% if paginator.nextPageUrl %}
        <li class="next"><a href="{{ paginator.nextPageUrl }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}