<style>
    .dynamedia.posts .post-info {
        margin-bottom: 25px;
    }
    .dynamedia.posts .pagination-wrapper {
        clear: both;
        text-align: center;
    }
    .dynamedia.posts .pagination-wrapper ul li {
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        display: inline;
        margin: 0 10px;
        display: inline-block;
        padding: 5px;
    }
    .dynamedia.posts .pagination-wrapper ul li a {
        color: #fff;
    }

    .dynamedia.posts .contents {

        padding: 10px 20px 10px 10px;
        background-color: lightgoldenrodyellow;
        overflow: hidden;
    }
    .dynamedia.posts p.excerpt {
        margin-top: 10px;
    }
    .dynamedia.posts .contents p.title {
        text-align: center;
        margin-top: 0;
    }
    .dynamedia.posts  .section-image.above img, .dynamedia.posts  .section-image.below img, .dynamedia.posts .post-image.banner img  {
        width: 100%;
        max-height: 300px;
    }
    .dynamedia.posts .section-image.left img {
        float:left;
        width: 400px;
        max-width: 40%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .dynamedia.posts .section-image.right img{
        float:right;
        width: 400px;
        max-width: 40%;
        margin-left: 10px;
        margin-bottom: 10px
    }
</style>