<?xml version="1.0" encoding="UTF-8"?>

{#<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">#}
{#    #}{#  Index self  #}
{#    <sitemap>#}
{#        <loc>{{ category.url }}.sitemap</loc>#}
{#        <lastmod>{{ category.updated_at }}</lastmod>#}
{#    </sitemap>#}
{#    #}{#  List separate sitemaps for each sub category  #}
{#    {% for subcategory in category.categories %}#}
{#    <sitemap>#}
{#        <loc>{{ subcategory.url }}.sitemap</loc>#}
{#        <lastmod>{{ subcategory.updated_at }}</lastmod>#}
{#    </sitemap>#}
{#    {% endfor %}#}
{#</sitemapindex>#}

{# List all of the posts in the category #}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for post in posts %}
        <url>
            <loc>{{ post.url }}</loc>
            <lastmod>{{ post.updated_at }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.8</priority>
        </url>
    {% endfor %}
</urlset>
