{% for item in category.body %}
    <div class="body-block">
    {% if item._group == 'section' %}
            {% partial __SELF__ ~ "::section" section = item.block %}
    {% elseif item._group == 'html' %}
            {{ item.content | raw }}
    {% elseif item._group == 'image' %}
        {% partial __SELF__ ~ "::helpers/image"
            image = item.image.default
            responsive = item.image.responsive
            alt = item.image.alt
            class = "category-image " ~ item.image.class
        %}
    {% endif %}
    </div>
{% endfor %}