<style>
    .dynamedia.posts.category h1 {
        text-align: center;
    }
    .dynamedia.posts.category .body-block {
        clear: both;
    }

    .dynamedia.posts.category .section-image.above img,
    .dynamedia.posts.category .section-image.below img,
    .dynamedia.posts.category .category-image.banner img  {
        width: 100%;
        max-height: 300px;
    }
    .dynamedia.posts.category .section-image.left img {
        float:left;
        width: 400px;
        max-width: 40%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .dynamedia.posts.category .section-image.right img{
        float:right;
        width: 400px;
        max-width: 40%;
        margin-left: 10px;
        margin-bottom: 10px
    }

    .dynamedia.posts.list {
        clear: both;
    }
    .dynamedia.posts.list img {
        width: 250px;
    }

    .dynamedia.posts .pagination-wrapper {
        clear: both;
        text-align: center;
    }
    .dynamedia.posts .pagination-wrapper ul li {
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        display: inline;
        margin: 0 10px;
        display: inline-block;
        padding: 5px;
    }
    .dynamedia.posts .pagination-wrapper ul li a {
        color: #fff;
    }
</style>