
<div class="posts block-preview heading-block">
<?php
    $live = $model;

    if ($live && !empty($live->heading_type) && !empty($live->content)) {
        $blockData = Dynamedia\Posts\Classes\Body\Repeaterbody\Blocks\HeadingBlock::makePreviewBlock(
            $live->heading_type,
            $live->content
        );
    } else {
        $blockData = Dynamedia\Posts\Classes\Body\Repeaterbody\RepeaterBody::getBlockFromRepeater($model, $field);
    }

    if ($blockData) {
        $renderer = new Dynamedia\Posts\Classes\Body\Repeaterbody\Blocks\HeadingBlock($blockData);
        echo $renderer->getHtml();
    }
?>
</div>
