
<div class="posts block-preview html-block">
<?php
    $live = $model;

    if ($live && !empty($live->content)) {
        $blockData = Dynamedia\Posts\Classes\Body\Repeaterbody\Blocks\HtmlBlock::makePreviewBlock(
            $live->content,
        );
    } else {
        $blockData = Dynamedia\Posts\Classes\Body\Repeaterbody\RepeaterBody::getBlockFromRepeater($model, $field);
    }

    if ($blockData) {
        $renderer = new Dynamedia\Posts\Classes\Body\Repeaterbody\Blocks\HtmlBlock($blockData);
        echo $renderer->getHtml();
    }
?>
</div>
