{% for locale in seo.getAlternativeUrls %}
    <link rel="alternate" hreflang="{{ locale.code }}" href="{{ locale.url }}" />
    {% if locale.default %}
    <link rel="alternate" href="{{ locale.url }}" hreflang="x-default" />
    {% endif %}
{% endfor %}


{% set pageTitle = seo.getSearchTitle %}
{% if seo.getThemeData.title_append == 'site_brand' %}
    {% set pageTitle = pageTitle ~ ' | ' ~ seo.getThemeData.site_brand %}
{% elseif seo.getThemeData.title_append == 'site_name' %}
    {% set pageTitle = pageTitle ~ ' | ' ~ seo.getThemeData.site_name %}
{% elseif seo.getThemeData.title_append == 'both' %}
    {% set pageTitle = pageTitle ~ ' | ' ~ seo.getThemeData.site_brand ~ ' > ' ~ seo.getThemeData.site_name %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ seo.getSearchDescription }}">

{% if seo.getOpenGraphTitle %}
<meta property="og:title" content="{{ seo.getOpenGraphTitle }}" />
{% endif %}

{% if seo.getUrl %}
<meta property="og:url" content="{{ seo.getUrl }}" />
{% endif %}

{% if openGraph.description %}
<meta property="og:description" content="{{ openGraph.description }}" />
{% endif %}

{% if seo.getOpenGraphImage %}
<meta property="og:image" content="{{ seo.GetOpenGraphImage }}" />
{% endif %}

{% if seo.getTwitterSite %}
<meta name="twitter:site" content="{{ seo.getTwitterSite }}">
{% endif %}

{% if seo.getTwitterCreator %}
<meta name="twitter:creator" content="{{ seo.getTwitterCreator }}">
{% endif %}

{% if seo.getTwitterTitle %}
<meta name="twitter:title" content="{{ seo.getTwitterTitle }}">
{% endif %}

{% if seo.getTwitterDescription %}
<meta name="twitter:description" content="{{ seo.getTwitterDescription }}">
{% endif %}

{% if seo.getTwitterImage %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ seo.getTwitterImage }}">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}

{{ seo.getSchemaGraph.toScript | raw }}
